body
  margin: 0px
  padding: 0px
  font-family: arial

.form
  margin: 20px
  padding: 20px
  border: 2px solid dimgray
  border-radius: 8px
  background: #ffe88b
  .row
    height: 30px
    span.label
      display: inline-block
      width: 80px
      text-align: right
      padding-right: 12px
  .button
    margin: 4px
    padding: 4px
    border: 1px solid dimgray
    background: #dddddd
    border-radius: 4px
    cursor: pointer

.response
  margin: 20px
  padding: 20px
  border: 2px solid #aaa
  border-radius: 8px
  background: #dddcd7
  .error, .notice
    border: 2px solid white
    border-radius: 4px
    background: #be1b1b
    padding: 3px
    font-size: 10px
    color: white
    margin-bottom: 20px
  .error
    background: #be1b1b
  .notice
    background: #d48724
  .no-offers, .offers
    border: 2px solid #aaa
    border-radius: 4px
    padding: 3px
    font-size: 12px
