defaults: &defaults
  dummy: ""

development:
  <<: *defaults
  api_key: <SECRET>
  device_id: <SECRET>

test:
  <<: *defaults
  api_key: e95a21621a1865bcbae3bee89c4d4f84
  device_id: aa6a14aad71845d76726c2464e1fbad340f53d17

#===---

production:
  <<: *defaults
  api_key: <SECRET>
  device_id: <SECRET>